@model ebookSwapApllication.Models.User

@{
    ViewData["Title"] = "Details";

}

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 100%;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .title {
        color: grey;
        font-size: 18px;
    }

    .btncontact {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }



        .btncontact:hover, a:hover {
            opacity: 0.7;
        }
    .gradient-custom-2 {
        /* fallback for old browsers */
        background: #fbc2eb;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
    }
</style>
<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">  
                    <h1>@Html.DisplayFor(model => model.UserFullName)</h1>
                    <p>Books Count : <strong> @ViewBag.count</strong></p>
                    <p>City : <strong>@Html.DisplayFor(model => model.UserCity)</strong></p>
                    <p4>
                        @if (@ViewBag.personalprofileconfirmation == "confirmationprofile")
                        {
                            <a asp-action="Edit" asp-route-id="@Model.UserId" type="button" class="btn mb-2 mb-md-0 btn-primary btn-sm">edit profile <i class="icon-effect ion-ios-arrow-round-forward"></i></a>
                            <a asp-controller="Books" asp-action="Create" class="btn mb-2 mb-md-0 btn-secondary btn-sm btn-round mr-3">add books</a>
                        }
                        else if (@ViewBag.personalprofileconfirmation == "nonprofile"){
                            <button type="button" style="background-color: #008854" ; data-mdb-toggle="modal" data-mdb-target="#exampleModal" class="btn mb-2 mb-md-0 btn-primary btn-sm"> contact <i class="icon-effect ion-ios-arrow-round-forward"></i></button>
                        }


                    </p4>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a asp-action="Details" asp-controller="Users" asp-route-id="@Model.UserId">
                                        <h5 class="modal-title" id="exampleModalLabel">@Html.DisplayFor(model => model.UserName)</h5>
                                    </a>
                                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-header">
                                            Contact Info
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <a asp-action="Details" asp-controller="Users" asp-route-id="@Model.UserId)" style="color:white">
                                            <li class="list-group-item"><span style="color:darkblue">Name : </span> @Html.DisplayFor(model => model.UserFullName) </li></a>
                                            <li class="list-group-item"><span style="color:darkblue">Phone Number : </span> @Html.DisplayFor(model => model.Userphonenumber) </li>


                                        </ul>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body p-4 text-black">

                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0">Recent Books</p>
                            <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
                        </div>
                         @foreach (var item in Model.Books)
                        {
                       
                            <a asp-action="Details" asp-controller="Books" asp-route-id="@item.BookId">

                            <div class="card">
                            <div class="card-header">
                                @item.BookTitle
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <footer class="blockquote-footer">USER NOTE : <cite title="Source Title">@item.BookNotes</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
