@model ebookSwapApllication.Models.Book

@{
    ViewData["Title"] = "Details";
}


<style>
    body {
        background-color: #edf1f5;
        
    }

    .card {
        margin-bottom: 30px;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid transparent;
        border-radius: 0;
    }

        .card .card-subtitle {
            font-weight: 300;
            margin-bottom: 10px;
            color: #8898aa;
        }

    .table-product.table-striped tbody tr:nth-of-type(odd) {
        background-color: #f3f8fa !important
    }

    .table-product td {
        border-top: 0px solid #dee2e6 !important;
        color: #728299 !important;
    }

    .img-responsive{
        float: left;
        width: 430px;
        height: 600px;
        border: 1px red solid;
        background: no-repeat center center;
        background-size: 100%;
    }
</style>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">@Html.DisplayFor(model => model.BookTitle)</h3>
            <h6 class="card-subtitle">globe type chair for rest</h6>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"><img src="@Html.DisplayFor(model => model.BookImagePath)" class="img-responsive"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5">@Html.DisplayFor(model => model.BookAuthor)</h4>
                   <p>@Html.DisplayFor(model => model.BookDescription)</p>
                    <p> <span style="color:aqua">Username :</span> @Html.DisplayFor(model => model.User.UserName)  </p>

                    <h2 class="mt-5">
                        <p>@Html.DisplayFor(model => model.BookNotes)</p>
                    </h2>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                        Show The user Contact Info
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">@Html.DisplayFor(model => model.User.UserName)</h5>
                                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-header">
                                            Contact Info
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><span style="color:darkblue">Name : </span> @Html.DisplayFor(model => model.User.UserFullName) </li>
                                            <li class="list-group-item"><span style="color:darkblue">Email : </span> @Html.DisplayFor(model => model.User.UserEmail) </li>
                                            <li class="list-group-item"><span style="color:darkblue">Phone Number : </span> @Html.DisplayFor(model => model.User.Userphonenumber) </li>
                                            <li class="list-group-item"><span style="color:darkblue">Book Note : </span> @Html.DisplayFor(model => model.BookNotes) </li>


                                        </ul>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="box-title mt-5">Book Details :</h3>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-success"></i> Book Lang : @Html.DisplayFor(model => model.BookLanguage)</li>
                        <li><i class="fa fa-check text-success"></i> Book Publication Date :  @Convert.ToDateTime(Model.BookPublicationDate).ToString("dd/MM/yyyy")</li>
                        <li><i class="fa fa-check text-success"></i> Book ISBN13 :  @Html.DisplayFor(model => model.BookISBN13) </li>
                        <li><i class="fa fa-check text-success"></i> Book Condition :  @Html.DisplayFor(model => model.BookCondition) </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
    
        <p class="card-text"><b>Book Title: </b>@Html.DisplayNameFor(model => model.BookTitle) </p>
    <p class="card-text"><b>User Full name: </b>@Html.DisplayNameFor(model => model.User.UserFullName)</p>
    
    
   

    </div>*@