@using Microsoft.AspNetCore.Http
@model ebookSwapApllication.Models.Book


@{
    ViewData["Title"] = "Details";
}


<style>
    article.card.car-details {
        border: 1px solid #f8f9fa;
        box-shadow: 0 0 20px 0px #dee2e6;
        cursor: pointer;
        overflow: hidden;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
    }

        article.card.car-details h3 {
            font-size: 1.3rem;
            font-weight: bold;
            margin-bottom: 0;
        }

        article.card.car-details ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            article.card.car-details ul li {
                margin-bottom: 1rem;
            }

                article.card.car-details ul li i {
                    width: 24px;
                }

            article.card.car-details ul.rating {
                display: flex;
                font-size: 0.95rem;
                margin-top: 1rem;
            }

                article.card.car-details ul.rating li {
                    margin-bottom: 0;
                }

                    article.card.car-details ul.rating li:not(:last-child) {
                        margin-right: 0.25rem;
                    }

        article.card.car-details .thumbnail {
            width: 220px;
            height: 170px;
            margin-right: 1rem;
            border: 1px solid #e9ecef;
            cursor: zoom-in;
        }

            article.card.car-details .thumbnail:after {
                content: "\f00e";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                position: absolute;
                right: -1px;
                bottom: -1px;
                padding: 0.35rem 0.75rem;
                border: 1px solid #e9ecef;
                background: #0000000d;
                color: #6c757d;
            }

        article.card.car-details:not(:last-child) {
            margin-bottom: 2rem;
        }

        article.card.car-details:hover {
            background: #f8f9fa;
        }

        article.card.car-details:before {
            width: 200px;
            color: #fff;
            position: absolute;
            transform: rotate(-45deg);
            z-index: 1;
            text-align: center;
            padding: 0.35rem;
            top: 35px;
            left: -50px;
            font-weight: bold;
        }

        article.card.car-details.new:before {
            content: "NEW";
        }

        article.card.car-details.sponsored:before {
            content: "SPONSORED";
        }

        article.card.car-details.label-info:before {
            background: #1DA1F2;
        }

        article.card.car-details.label-primary:before {
            background: #004b9d;
        }

        article.card.car-details.label-success:before {
            background: #218939;
        }

        article.card.car-details.label-warning:before {
            background: #cb9b08;
        }

        article.card.car-details.label-danger:before {
            background: #b23737;
        }

        article.card.car-details.label-purple:before {
            background: #7032c2;
        }

    .text-grey {
        color: #bbbbbb;
    }

    .btn-default {
        background: #fff;
        border: 1px solid #e9ecef;
    }

        .btn-default i {
            color: #8e6c06;
        }

        
        

    /* style for the description  */



        #summary {
      font-size: 14px;
      line-height: 1.5;
    }

    #summary p.collapse:not(.show) {
        height: 42px !important;
        overflow: hidden;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    #summary p.collapsing {
        min-height: 42px !important;
    }

    #summary a.collapsed:after  {
        content: '+ Read More';
    }

    #summary a:not(.collapsed):after {
        content: '- Read Less';
    }
    .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

.btncontact {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}



.btncontact:hover, a:hover {
  opacity: 0.7;
}

</style>
<div class="container pt-5">
    <div class="row">

        <div class="col-12">
            <article class="card car-details">
                <div class="card-body">
                    <div class="d-flex flex-md-row align-items-md-start align-items-center flex-column">

                        <div class="w-100">
                            <div class="d-flex flex-md-row flex-column">
                                <h3 class="mr-3">@Html.DisplayFor(model => model.BookTitle)</h3>
                                
                            </div>
                            <hr>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <ul>
                                            <li><i class="fas fa-book"></i> <strong>Book Author :</strong> @Html.DisplayFor(model => model.BookAuthor) </li>
                                            <li><i class="fas fa-language"></i> <strong>Book Language :</strong> @Html.DisplayFor(model => model.BookLanguage)</li>
                                            <li><i class="fas fa-calendar"></i> <strong>Book Publication date :</strong>  @Convert.ToDateTime(Model.BookPublicationDate).ToString("dd/MM/yyyy")</li>
                                            <li><i class="fas fa-info-circle"></i> <strong>Book ISBN :</strong> @Html.DisplayFor(model => model.BookISBN13)</li>
                                            <li><i class="fas fa-info-circle"></i> <strong>Book Condition:</strong> <span class="badge bg-primary text-white">@Html.DisplayFor(model => model.BookCondition)</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-8 col-12">
                                        <ul>
                                            <p class="card-text">
                                                <a asp-action="Details" asp-controller="Users" asp-route-id="@Model.User.UserId">
                                            <li><i class="fas fa-user"></i> <strong>Username :</strong> @Html.DisplayFor(model => model.User.UserName) </li></a>
                                            <li><i class="fas fa-comment"></i> <strong>User Note :</strong>@Html.DisplayFor(model => model.BookNotes)</li>
                                            <li>
                                                <i class="fas fa-info-circle"></i> <strong>Book Description :</strong>
                                                <div class="row justify-content-center">
                                                    <div class="col-md-7">
                                                        <div id="summary">
                                                            <p>
                                                                @Html.DisplayFor(model => model.BookDescription)
                                                            </p>
                                                           
                                                        </div>
                                                    </div>
                                                 </div>
                                            </li>
                                           
                                        </ul>
                                    </div>

                                    <div class="card">
                                        
                                        <h1><a asp-action="Details" asp-controller="Users" asp-route-id="@Model.User.UserId">@Html.DisplayFor(model => model.User.UserFullName)</a></h1>
                                        <p class="title">Books Count : <strong> @ViewBag.countbookbookdetail</strong></p>
                                        <p>City : <strong>@Html.DisplayFor(model => model.User.UserCity)</strong></p>
                                     
                                    @if (ViewBag.checkiflogin == "true")
                                    {
                                        <p><button class="btn btn-success w-100 mb-md-0 mb-3 mr-md-3 mr-0" data-mdb-toggle="modal" data-mdb-target="#exampleModal"><i class="fas fa-phone"></i> Contact</button></p>

                                        }
                                        else if (ViewBag.checkiflogin == "false"){
                                            <p><button class="btn btn-success w-100 mb-md-0 mb-3 mr-md-3 mr-0" data-mdb-toggle="modal" data-mdb-target="#exampleModal1"><i class="fas fa-phone"></i> Contact</button></p>

                                        }

                                    </div>

                                  @*<div class="col-12">
                                        <div class="d-flex flex-md-row flex-column align-items-center justify-content-end">
                                            <button class="btn btn-success w-100 mb-md-0 mb-3 mr-md-3 mr-0" data-mdb-toggle="modal" data-mdb-target="#exampleModal"><i class="fas fa-phone"></i> Contact @Html.DisplayFor(model => model.User.UserName)</button>                                  
                                        </div>
                                    </div>*@


                                        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="card" style="width: 18rem;">
                                                            <div class="card-header">
                                                                You Should Login First
                                                            </div>
                                                            <h2>Please Login first so you can get the contact details</h2>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                                                        <button asp-action="Login" asp-controller="Users" type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Login</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    
                                 
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <a asp-action="Details" asp-controller="Users" asp-route-id="@Model.User.UserId">
                                                            <h5 class="modal-title" id="exampleModalLabel">@Html.DisplayFor(model => model.User.UserName)</h5>
                                                        </a>
                                                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="card" style="width: 18rem;">
                                                            <div class="card-header">
                                                                Contact Info
                                                            </div>
                                                            <ul class="list-group list-group-flush">
                                                                <a asp-action="Details" asp-controller="Users" asp-route-id="@Model.User.UserId)" style="color:white">
                                                                <li class="list-group-item"><span style="color:darkblue">Name : </span> @Html.DisplayFor(model => model.User.UserFullName) </li></a>
                                                                <li class="list-group-item"><span style="color:darkblue">Phone Number : </span> @Html.DisplayFor(model => model.User.Userphonenumber) </li>
                                                                <li class="list-group-item"><span style="color:darkblue">Book Note : </span> @Html.DisplayFor(model => model.BookNotes) </li>


                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
