@using Microsoft.AspNetCore.Http
@model IEnumerable<Book>

@{
    ViewData["Title"] = "liste of Books";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .firma-ara {
        padding-bottom: 2px;
        padding-top: 2px;
    }

    .form-arka-plan {
        background-image: url("https://cdn.filepicker.io/api/file/1WxRtkAQG5h70aoPQdGA/convert?format=jpeg&quality=50");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .acik-renk-form {
        background: rgba(255, 255, 255, 0.58);
    }

    .siyah-cerceve {
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
</style>
<div class="row">
        <div class="container py-2 my-5">
            <div class="row text-center pb-4">
                <div class="col-md-12">
                    <h2 class="text-white siyah-cerceve">Books Platform </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card acik-renk-form">
                        <div class="card-body">
                        <form method="get" asp-action="Index">

                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group ">
                                        <input type="search" value="@ViewData["getbookdetail"]" name="booksearch" class="form-control" placeholder="search book(any keywords)">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" value="Search" class="btn btn-warning  pl-5 pr-5">Search</button>
                                </div>
                            </div>
                        </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>



    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 col-md-3 border-primary mb-3">
            <div class="card mb-3" style="max-width: 400px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.BookTitle
                                    <a class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.BookLanguage</p>
                            <p class="card-text"><b>Author: </b>@item.BookAuthor</p>
                            <p class="card-text"><b>Category: </b>@item.BookCategory</p>
                            <a asp-action="Details" asp-controller="Users" asp-route-id="@item.User.UserId"><p class="card-text"><b>User Name: </b>@item.User.UserName</p></a>
                            <p class="card-text"><b>User Name: </b>@item.User.UserCity</p>
                            <p class="card-text"><b>Note : </b>@item.BookNotes</p>
                            <p class="card-text ">
                                <b>Condition: </b>
                                @if (item.BookCondition == "new")
                                {
                                    <span class="badge bg-success text-white">NEW</span>
                                }else{
                                    <span class="badge bg-primary text-white">USED</span>

                                }
                            </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.BookId"><i class="bi bi-eye-fill"></i> Show Details</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    }

</div>


